{% extends 'bookings/base.html' %}
{% block content %}
    <h1>Admin Dashboard</h1>
    <p>List of available centers</p>
    <ul style="list-style-type: none;">
        {% for center in vaccination_centers %}
            <li>
                <form class="contact-form" method="get" action="{% url 'remove_vaccination_center' center.id %}">
                    {% csrf_token %}
                    <div style="padding-right: 50px;" class="form-group">
                        <a class="button" style="background-color: #333;" href="{% url 'center_details' center.id %}">{{ center.name }}</a>
                        <button style="background-color: var(--warning);" type="submit">Remove</button>
                    </div>
                </form>
            </li>
        {% empty %}
            <li>No vaccination centers available</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_vaccination_center' %}"><i class="fa-sharp fa-solid fa-plus"></i><b>Add Vaccination Center</b></a>
    {% endblock content %}