{% extends 'bookings/base.html' %}
{% block content %}
    <h1>{{ vaccination_center.name }}</h1>
    <p>Address: {{ vaccination_center.address }}</p>
    <p>Working Hours: {{ vaccination_center.from_time }} - {{ vaccination_center.to_time }}</p>
    <form class="contact-form">
        {% csrf_token %}
        <div class="form-group">
        <a href="{% url 'add_slot' vaccination_center.id %}" class="button">Add Slot</a>
        <a href="{% url 'remove_vaccination_center' vaccination_center.id %}" class="button">Remove this Center</a>
    </div>
    </form>
    <div class="container">
        <div class="section1">
            <h2>Bookings: ({{ bookings.count }})</h2>
            <ul>
                {% for booking in bookings %}
                    <li>{{ booking.user.username }} - {{ booking.slot.date }}</li>
                    <a class="button" href="{% url 'remove_booking' booking_id=booking.id %}">Remove</a>
                    <br><br>
                {% empty %}
                    <li>No bookings found</li>
                {% endfor %}
            </ul>
        </div>
        <div class="section2">
            <h2>Slots: ({{ slots.count }})</h2>
            <ul>
              {% for slot in slots %}
              <li>{{ slot.date }} - Available Slots: {{ slot.available_slots }}</li>
              <a class="button" href="{% url 'remove_slot' slot_id=slot.id %}">Remove</a>
              <br><br>
              {% endfor %}
            </ul>
        </div>
    </div>
    <a href="{% url 'admin_dashboard' %}"><i class="fa-solid fa-arrow-left"></i> Back to Admin Dashboard</a>
{% endblock content %}
